:root {
  --dark-mode-element: hsl(209, 23%, 22%);
  --dark-mode-bg: hsl(207, 26%, 17%);
  --light-mode-elements: #fff;
  --light-mode-bg: hsl(0, 0%, 98%);
}

.app {
  background-color: var(--light-mode-bg);
  min-height: 100vh;
  height: 100%;
}

.app_body {
  margin: 15px auto 0;
  padding: 15px;
  max-width: 1400px;
}

.header {
  padding: 15px;
  background-color: white;
  box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
}

.header_container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1400px;
  margin: 0 auto;
}

.switch_mode {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
  cursor: pointer;
  user-select: none;
}

.inputs {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.search_input {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
  width: 300px;
  padding: 5px;
  border-radius: 5px;
  gap: 5px;
}

.search_input input {
  border: 0;
  background-color: transparent;
  outline: none;
  font-size: 18px;
}

.select_region {
  width: 300px;
  background-color: white;
  box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
  padding: 5px;
  border-radius: 5px;
}

.select_region select {
  padding: 5px;
  width: 100%;
  background-color: transparent;
  border: none;
  outline: none;
}